# Ignore Play! working directory #
/conf/application.properties
bin/
/db
.eclipse
.history
/logs/
/modules
/project/project
**/target/
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.cache
/.SyncIgnore
/.ivy2
/.sbt
/.bash_history
/.scala_history
/node_modules
/script/__pycache__/
/script/lib/__pycache__/
coverage
npm-debug.log
package-lock.json
/.bloop
/.metals
/project/.bloop
/project/metals.sbt
/.vscode
/.bsp
/app/.metals
/app/.vscode
.DS_Store
**/venv/
